* {
  font-family: 'Manrope', sans-serif;
  color: #18191F;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1090px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.header {
  min-width: 72px;
  padding: 16px 0;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.header__link {
  text-decoration: none;
  margin-right: 32px;
  font-weight: 700;
  font-size: 14px;
}

.header__hamburger {
  display: none;
}

.main {
  padding: 96px 0 58px 0;
  background: url("../../img/main-bg.jpg");
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main__title {
  font-weight: 800;
  font-size: 72px;
  line-height: 98px;
  margin-top: 89px;
}

.main__btn {
  width: 196px;
  height: 62px;
  background-color: #8c30f5;
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  font-weight: 700;
  font-size: 20px;
  color: #fff;
}

.main__btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.partners {
  padding: 16px 0;
}

.partners__items {
  height: 108px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.partners__img {
  height: 28px;
}

.partners__line {
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(192, 204, 218, 0.1)), color-stop(50.38%, rgba(192, 204, 218, 0.6)), to(rgba(192, 204, 218, 0.1)));
  background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}

.features {
  padding: 64px;
  min-height: 672px;
}

.features__title {
  margin-top: 24px;
  font-weight: 600;
  font-size: 24px;
}

.features__subtitle {
  text-align: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}

.features__wrapper {
  margin-top: -6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__items {
  text-align: center;
  -ms-flex-preferred-size: 342px;
      flex-basis: 342px;
  margin-top: 54px;
}

.features__text {
  margin-top: 21px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}

.title {
  font-weight: 800;
  font-size: 48px;
}

.title_center {
  text-align: center;
}

.title_symbol {
  position: relative;
  z-index: 2;
}

.title_symbol:before {
  position: absolute;
  left: -88px;
  top: -60px;
  display: block;
  content: "";
  background: url("../../img/quote.svg") no-repeat;
  width: 138px;
  height: 120px;
  background-size: cover;
  z-index: -1;
}

.reviews {
  min-height: 896px;
  background-color: #D5FAFC;
  padding: 120px 0 80px 0;
}

.reviews__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.reviews__items {
  -ms-flex-preferred-size: 41%;
      flex-basis: 41%;
  margin-left: 32px;
}

.reviews__subtitle {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
}

.reviews__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  padding: 32px;
  margin-top: 32px;
  width: 350px;
  height: 436px;
}

.reviews__item_large {
  margin-left: 73px;
}

.reviews__item_average {
  width: 455px;
  height: 350px;
}

.reviews__item_small {
  width: 350px;
  height: 276px;
}

.reviews__img {
  height: 40px;
}

.reviews__text {
  margin-top: 32px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  margin-left: 32px;
  position: relative;
}

.reviews__text::before {
  content: "";
  display: block;
  background: url("../../img/quote.svg") no-repeat;
  color: #fff;
  width: 16px;
  height: 16px;
  position: absolute;
  left: -32px;
}

.reviews__name {
  margin-top: 24px;
  font-weight: 700;
  font-size: 18px;
}

.reviews__specialty {
  margin-top: 10px;
  font-weight: 500;
  font-size: 14px;
  color: #969bab;
}

.progress {
  min-height: 332px;
  padding: 80px 0;
}

.progress__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.progress__info {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.progress__info_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -40px;
}

.progress__subtitle {
  margin-top: 15px;
}

.progress__item {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.progress__descr {
  margin-left: 26.6px;
}

.progress__number {
  font-weight: 800;
  font-size: 28px;
}

.progress__text {
  margin-top: 10px;
  font-weight: 400;
  font-size: 16px;
}

.content {
  min-height: 668px;
  padding: 64px 0;
}

.content__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__descr {
  margin-left: 78px;
}

.content__text {
  width: 95%;
  margin-top: 36px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.content__link {
  display: block;
  cursor: pointer;
  margin-top: 32px;
  text-decoration: none;
  color: #8c30f5;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.content__arrow {
  margin-left: 8px;
}

.fashion {
  min-height: 684px;
  padding: 70px 0 64px 0;
}

.fashion__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fashion__item {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.fashion__descr {
  margin-left: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.fashion__img {
  margin-top: 54px;
  min-width: 100%;
}

.mobile {
  background-color: #2ec5ce;
}

.mobile__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile__item {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
}

.mobile__subtitle {
  margin-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
}

.mobile__text {
  margin-top: 54px;
  font-weight: 500;
  font-size: 18px;
}

.mobile__links {
  margin-top: 15px;
}

.mobile__img {
  min-width: 93%;
  margin-left: 74px;
}

.footer {
  min-height: 280px;
  padding: 56px 0;
  background-color: #0b0d17;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 24px;
}

.footer__link {
  text-decoration: none;
  margin-right: 24px;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

.footer__right {
  color: #ffffff;
  margin-top: 24px;
  font-weight: 400;
  font-size: 14px;
}

.footer__text {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.footer_blok {
  display: block;
  margin-top: 17px;
}
/*# sourceMappingURL=style.css.map */