@import 'base/variables';
@import 'base/mixins';
* {
    font-family: 'Manrope', sans-serif;
    color: $main-color;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1090px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

@import 'block/header';
@import 'block/main';
@import 'block/partners';
@import 'block/features';
@import 'block/title';
@import 'block/reviews';
@import 'block/progress';
@import 'block/content';
@import 'block/fashion';
@import 'block/mobile';
@import 'block/footer';