.content {
    min-height: 668px;
    padding: 64px 0;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__descr {
        margin-left: 78px;
    }
    &__text {
        width: 95%;
        margin-top: 36px;
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
    }
    &__link {
        display: block;
        cursor: pointer;
        margin-top: 32px;
        text-decoration: none;
        color: #8c30f5;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }
    &__arrow {
        margin-left: 8px;
    }
}